<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header noclass">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname are-we-here">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <!-- <div class="resource">
                <input type="number" name="data.monitors.physical.current" value="{{data.monitors.physical.current}}"/>
                <span> / </span>
                <input type="number" name="data.monitors.physical.max" value="{{data.monitors.physical.max}}"/>
            </div>
            <div class="resource">
                <input type="number" name="data.monitors.stun.current" value="{{data.monitors.stun.current}}"/>
                <span> / </span>
                <input type="number" name="data.monitors.stun.max" value="{{data.monitors.stun.max}}"/>
            </div> -->
            <div class="resource">
                <span>Karam: &nbsp;</span>
                <span>{{data.karma}}</span>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="description">Biography</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Base Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">

        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">

        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">{{localize "SR4.AttributeKey"}}</span>
                <span class="attribute-value">{{localize "SR4.AttributeValue"}}</span>
                <span class="attribute-label">{{localize "SR4.AttributeLabel"}}</span>
                <span class="attribute-dtype">{{localize "SR4.AttributeDtype"}}</span>
            </header>

            {{!-- Render the attribute list partial. --}}


            {{!-- Render the grouped attributes partial and control. --}}
        </div>
    </section>
</form>